* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: white;
    font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    cursor: pointer;
}

/*  Navigation for mobile devices */
@media screen and (max-width: 1150px) {
    .nav_menu {
        position: fixed;
        top: 0;
        right: -100;
        background-color: hsla(0, 0%, 100%, .1);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right .4s;
        -webkit-transition: right .4s;
        -moz-transition: right .4s;
        -ms-transition: right .4s;
        -o-transition: right .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}