/*=========== Colors ============*/
/*Colors mode HSL(hue, saturation, lightness)*/


.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--first-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
    -webkit-transition: box-shadow .4s;
    -moz-transition: box-shadow .4s;
    -ms-transition: box-shadow .4s;
    -o-transition: box-shadow .4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--white-color);
    font-family: var(--second-font);
    text-shadow: var(--shadow-text);
}